.my_container {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(196, 196, 255);
  margin: 10vh auto;
  width: 80vw;
  height: 80vh;
  font-size: smaller;
}

.my_box {
  width: calc(100% / 10);
  height: calc(100% / 10);
  color: white;
  text-align: center;
}

.fizz {
  background-color: rgb(33, 221, 64);
}

.buzz {
  background-color: rgb(34, 24, 179);
}

.fizz_buzz {
  background-color: rgb(179, 60, 24);
}